.vfulogo {
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

p {
  width: 75%;
  margin: auto;
}

p.p1 {
  width: 75%;
}

.mode {
  float: right !important;
}

h3.technical {
  margin-top: 3em;
  text-align: center;
}
